@font-face {
  font-family: 'DreamsSpace';
  src: url('../fonts/DREAMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
  word-spacing: 6px;
}

body {
  background-image: url("../images/sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'DreamsSpace', sans-serif;
  color: white;
}
#app{
    margin: 0 auto;
    
}
#title{
    text-align: center;
    margin-top: 2vh;
}
#div-sez-download{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
    font-size: 1vh;
    margin-top: 10vh;
}
#div-download{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 30vw;
    margin-top: 5vh;
}
#btnDownload{
    height: 5vw;
    width: fit-content;
    padding: 2vh;
    color: white;
    border: none;
    border-radius: 3vh;
    background-color: rgb(71, 71, 255);
    font-family: 'DreamsSpace', sans-serif;
    font-size: 0.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
button:hover{
    cursor: pointer;
    background-color: rgb(104, 104, 255);
    text-decoration: underline;
}

.download-icon, .document-icon {
  color: white;
  cursor: pointer;
}

